<!doctype html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
{#    <meta name="description" content="{% block description %}{% endblock description %}">#}
{#    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">#}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="rating" content="RTA-5042-1996-1400-1577-RTA"/>
</head>
<body>
<div class="wrapper min-vh-100 w-100">
    <div class="header">
        <nav class="navbar bg-dark border-bottom brd-color">
            <div class="container-xxl">
                <a href="{% url 'home' %}" class="navbar-brand logo">{{ request.get_host }}</a>
                <form class="d-flex align-items-center col-8 me-2" role="search" action="/q/" method="get">
                    <input class="form-control me-2 bg-dark brd-color" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="bi bi-search main-color fs-4 sbutton" type="submit"></button>
                </form>
            </div>
        </nav>
    </div>
    <div class="main bg-dark">
        <div class="bg-dark mt-1 mh-100">
            <div class="container-xxl">
                <div class="row text-white">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer bg-dark mt-1 border-top brd-color footer">
        <div class="container-xxl">
            <div class="text-center ftr fs-6 fw-light mt-1">
                <p class="domain-title m-0">Copyright © 2022 site. All rights reserved.</p>
                <p class="text-danger fw-normal m-0 fs-5"><i class="bi bi-exclamation-octagon-fill"></i> 18+</p>
            </div>
            <div class="row text-center ftr fs-6 fw-light pb-3">
{#                <div class="col-6 col-md-4"><a href="#">site</a></div>#}
            </div>
            <div class="row text-center ftr fs-6 fw-light pb-2">
                <div class="col-6 col-md-3 col-lg-3"><a href="/dmca/" rel="nofollow">DMCA</a></div>
                <div class="col-6 col-md-3 col-lg-3"><a href="/contact/" rel="nofollow">Contact</a></div>
                <div class="col-6 col-md-3 col-lg-3"><a href="/privacy/" rel="nofollow">Privacy</a></div>
                <div class="col-6 col-md-3 col-lg-3"><a href="/18-usc-2257" rel="nofollow">18-USC-2257</a></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6367cfaf51df920012129ae4&product=sticky-share-buttons&source=platform" async="async"></script>
<script src="{% static 'js/lazyload.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>